@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Baloo+Bhaina+2&family=Bree+Serif&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Baloo+Bhaina+2&family=Bree+Serif&family=Ubuntu&family=Varela+Round&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    color: var(--text-color);
    font-family: var(--font1);
}


:root{
    --primary-color:rgb(30, 26, 26);
    --text-color:white;
    --secondary-color:rgba(7, 7, 20, 0.776);
    --background-color: rgb(11, 11, 43);
    --font1:'Ubuntu',  sans-serif ;
    --font2:'Varela Round', sans-serif;
    --font3:'Baloo Bhaina 2', sans-serif;
    --box-shodow : 0 4px 8px 0 rgba(0, 0, 0, 10), 0 6px 20px 0 rgba(0, 0, 0, 10); 
}


body{
    background-color:rgb(30, 26, 52) ;
    color: var(--text-color);
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}

.outer{
    margin-top: 100px;
    background-color: var(--secondary-color);
    width: 96vw;
    height:max-content;
    border-radius: 10px ;
    outline: none;
    border: none;
}

nav{
    border-radius: 10px  10px 0  0 ;
    padding: 20px ;
    background-color:var(--background-color);
}

.main{
    padding: 20px;
    margin: 0 10px;
    display: grid;
    row-gap: 10px;
}

 

.main input{
    width: 100%;
    position: relative;
    padding: 10px;
    outline: none;  
    border: 2px solid grey;
    border-radius: 7px;
    background-color: transparent;
    color: white;
    box-shadow: var(--box-shodow);
}
 
::placeholder{
    color: var(--text-color);
}

.main p{
    font-size: 14px;
    width: 100%;
    padding: 10px;
    outline: none;  
    border: 2px solid grey;
    border-radius: 7px;
    background-color: transparent;
    color: grey;
    box-shadow: var(--box-shodow);
}

.main p span{
    margin-left: 50px   ;
}

.main button{
    font-size: 14PX;
    width: 100%;
    padding: 10px;
    outline: none;  
    border: 2px solid grey;
    border-radius: 7px;
    background-color: rgb(11, 11, 43);
    color: white;
    box-shadow:var(--box-shodow);
    cursor: pointer;
}

 

.last{
    padding: 20px;
    margin-top: -25px;
    padding-left: 30px;
    padding-right: 30px;
}
.range{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: red;
    margin-top: 10px; 
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 7px;
    border: 2px solid grey;
    background-color: transparent;
    box-shadow: var(--box-shodow);
    font-size: 15px;
}

#range{
    width: 100%;
} 

#length{
    background-color: transparent;
    color: white;
    width: 6%;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid white;
    outline: none;
    text-align: center;
    width: 50px;
    box-shadow: var(--box-shodow);
}



 

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

 
.checkbox{
    display: inline-flex;
    cursor: pointer;
    position: relative;
}
.checkbox > input {
    height: 22px;
    width: 22px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #34495E;
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
    cursor: pointer;
    background-size:  cover;
    box-shadow: var(--box-shodow); 
    
}

.checkbox >input:checked{
    background: url(generate.png);
    background-size: cover;
    box-shadow: var(--box-shodow); 
    border: 1px solid  white;
    display: block;
    /* position: absolute; */
}

 

 
.range:nth-child(2){
    border: none;
    box-shadow: none;
}
 

input[type="range"]::-webkit-slider-runnable-track{
    background-color: rgb(11, 11, 43) ;
    border-radius: 10px;
    border: 1px solid white;
    color: white;
    
}
input[type="range"]{
    accent-color:white;
}

 
#copy{
    float: right;
    /* display: none; */
    cursor: pointer;
}

.social{
    width: 100%;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 15px;
    align-items: center;
    justify-content: space-between;
}

.h4{
    width: 50%;
}

.links{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
 